REL_20240116/InboundPartnerEventsV1.module/Schemas/EDWLeadDeleteRequestPayloadResource.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tns.tibco.com/bw/json/1688378070055" elementFormDefault="qualified" targetNamespace="http://tns.tibco.com/bw/json/1688378070055">
  <complexType name="EDWLeadDeleteRequestPayloadElementType">
    <sequence>
      <element maxOccurs="1" minOccurs="0" name="header">
        <complexType>
          <sequence>
            <element maxOccurs="1" minOccurs="0" name="name" type="string"/>
            <element maxOccurs="1" minOccurs="0" name="domain" type="string"/>
            <element maxOccurs="1" minOccurs="0" name="subdomain" type="string"/>
            <element maxOccurs="1" minOccurs="0" name="source" type="string"/>
            <element maxOccurs="1" minOccurs="0" name="messageId" type="string"/>
            <element maxOccurs="1" minOccurs="0" name="correlationId" type="string"/>
            <element maxOccurs="1" minOccurs="0" name="dateTime" type="string"/>
          </sequence>
        </complexType>
      </element>
      <element maxOccurs="1" minOccurs="0" name="body">
        <complexType>
          <sequence>
            <element maxOccurs="1" minOccurs="0" name="leadId" type="integer"/>
          </sequence>
        </complexType>
      </element>
    </sequence>
  </complexType>
  <element name="EDWLeadDeleteRequestPayloadElement" type="tns:EDWLeadDeleteRequestPayloadElementType"/>
</schema>
