REL_20240116/InboundPartnerEventsV1.module/Schemas/Eero_PubliclpUpdatedResource.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tns.tibco.com/bw/json/1699477419691" elementFormDefault="qualified" targetNamespace="http://tns.tibco.com/bw/json/1699477419691">
  <complexType name="Eero_PubliclpUpdatedElementType">
    <sequence>
      <element maxOccurs="1" minOccurs="0" name="header">
        <complexType>
          <sequence>
            <element maxOccurs="1" minOccurs="0" name="name" type="string"/>
            <element maxOccurs="1" minOccurs="0" name="domain" type="string"/>
            <element maxOccurs="1" minOccurs="0" name="subdomain" type="string"/>
            <element maxOccurs="1" minOccurs="0" name="source" type="string"/>
            <element maxOccurs="1" minOccurs="0" name="correlationid" type="string"/>
            <element maxOccurs="1" minOccurs="0" name="messageld" type="string"/>
            <element maxOccurs="1" minOccurs="0" name="dateTime" type="string"/>
          </sequence>
        </complexType>
      </element>
      <element maxOccurs="1" minOccurs="0" name="body">
        <complexType>
          <sequence>
           <element maxOccurs="1" minOccurs="0" name="PubliclpUpdated">
              <complexType>
                <sequence>
            <element maxOccurs="1" minOccurs="0" name="contextData">
              <complexType>
                <sequence>
                  <element maxOccurs="1" minOccurs="0" name="event" type="string"/>
                  <element maxOccurs="1" minOccurs="0" name="network_id" type="integer"/>
                  <element maxOccurs="1" minOccurs="0" name="public_ip" type="string"/>
                  <element maxOccurs="1" minOccurs="0" name="timestamp" type="string"/>
                </sequence>
              </complexType>
            </element>
          </sequence>
        </complexType>
        </element>
    </sequence>
  </complexType>
      </element>
    </sequence>
  </complexType>
  <element name="Eero_PubliclpUpdatedElement" type="tns:Eero_PubliclpUpdatedElementType"/>
</schema>
