REL_20240116/InboundPartnerEventsV1.module/Schemas/EeronetworkeventHeaderParameterSchema.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:Q1="http://tns.tibco.com/bw/REST" xmlns:source="bw.rest" xmlns:tns="http://xmlns.example.com/Eeronetworkevent/headerParameters" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" targetNamespace="http://xmlns.example.com/Eeronetworkevent/headerParameters">
            
  
  
  
  
  <xs:import namespace="http://tns.tibco.com/bw/REST" schemaLocation="RESTSchema.xsd"/>
            
  
  
  
  
  <xs:complexType name="eeronetworkeventv1-inboundpartner-eero-webhookevents-networkeventPostHeaderType">
                        
    
    
    
    
    <xs:complexContent>
                                    
      
      
      
      
      <xs:extension base="Q1:httpTransportHeaders">
                                                
        
        
        
        
        <xs:sequence>
                                                            
          
          
          
          
          <xs:element maxOccurs="1" minOccurs="0" name="requestingApplication" type="xs:string"/>
                                                          
                    
          
          
          
          <xs:element maxOccurs="1" minOccurs="0" name="messageid" type="xs:string"/>
                                                        
        
                    
          
          <xs:element maxOccurs="1" minOccurs="0" name="correlationid" type="xs:string"/>
                                    
        
        </xs:sequence>
                                              
      
      
      
      
      </xs:extension>
                                  
    
    
    
    
    </xs:complexContent>
                      
  
  
  
  
  </xs:complexType>
            
  
  
  
  
  <xs:element name="eeronetworkeventv1-inboundpartner-eero-webhookevents-networkeventPostHeader" type="tns:eeronetworkeventv1-inboundpartner-eero-webhookevents-networkeventPostHeaderType"/>
          




</xs:schema>
