REL_20240116/InboundPartnerEventsV1.module/Schemas/ErrorSchemaResource.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tns.tibco.com/bw/json/1688749564835" elementFormDefault="qualified" targetNamespace="http://tns.tibco.com/bw/json/1688749564835">
  <complexType name="ErrorSchemaElementType">
    <sequence>
      <element maxOccurs="1" minOccurs="0" name="Error">
        <complexType>
          <sequence>
            <element maxOccurs="1" minOccurs="0" name="ExceptionType" type="string"/>
            <element maxOccurs="1" minOccurs="0" name="MessageId" type="string"/>
            <element maxOccurs="1" minOccurs="0" name="Text" type="string"/>
          </sequence>
        </complexType>
      </element>
    </sequence>
  </complexType>
  <element name="ErrorSchemaElement" type="tns:ErrorSchemaElementType"/>
</schema>
