REL_20240116/InboundPartnerEventsV1.module/Schemas/Kore_SessionHistoryResource.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tns.tibco.com/bw/json/1691081112516" elementFormDefault="qualified" targetNamespace="http://tns.tibco.com/bw/json/1691081112516">
  <complexType name="Kore_SessionHistoryElementType">
    <sequence>
      <element maxOccurs="1" minOccurs="0" name="header">
        <complexType>
          <sequence>
            <element maxOccurs="1" minOccurs="0" name="name" type="string"/>
            <element maxOccurs="1" minOccurs="0" name="domain" type="string"/>
            <element maxOccurs="1" minOccurs="0" name="subdomain" type="string"/>
            <element maxOccurs="1" minOccurs="0" name="source" type="string"/>
            <element maxOccurs="1" minOccurs="0" name="correlationId" type="string"/>
            <element maxOccurs="1" minOccurs="0" name="messageId" type="string"/>
            <element maxOccurs="1" minOccurs="0" name="dateTime" type="string"/>
          </sequence>
        </complexType>
      </element>
      <element maxOccurs="1" minOccurs="0" name="body">
        <complexType>
          <sequence>
            <element maxOccurs="1" minOccurs="0" name="session_history">
              <complexType>
                <sequence>
                  <element maxOccurs="unbounded" minOccurs="0" name="sessions">
                    <complexType>
                      <sequence>
                        <element maxOccurs="1" minOccurs="0" name="sessionId" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="botId" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="channel" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="userId" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="start_time" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="end_time" type="string"/>
                        <element maxOccurs="unbounded" minOccurs="0" name="session_lang" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="sessionType" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="isDeveloper" type="boolean"/>
                        <element maxOccurs="1" minOccurs="0" name="sessionStatus" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="tags">
                          <complexType>
                            <sequence>
                              <element maxOccurs="unbounded" minOccurs="0" name="userTags">
							  <complexType>
                                  <sequence>
                                    <element maxOccurs="1" minOccurs="0" name="value" type="string"/>
                                    <element maxOccurs="1" minOccurs="0" name="name" type="string"/>
                                  </sequence>
                                </complexType>
                              </element>
                              <element maxOccurs="unbounded" minOccurs="0" name="sessionTags">
                                <complexType>
                                  <sequence>
                                    <element maxOccurs="1" minOccurs="0" name="value" type="string"/>
                                    <element maxOccurs="1" minOccurs="0" name="name" type="string"/>
                                  </sequence>
                                </complexType>
                              </element>
                            </sequence>
                          </complexType>
                        </element>
                        <element maxOccurs="1" minOccurs="0" name="noOfMessagesExchanged" type="integer"/>
                        <element maxOccurs="1" minOccurs="0" name="noOfTasksExecuted" type="integer"/>
                        <element maxOccurs="1" minOccurs="0" name="containmentType" type="string"/>
                      </sequence>
                    </complexType>
                  </element>
                </sequence>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
    </sequence>
  </complexType>
  <element name="Kore_SessionHistoryElement" type="tns:Kore_SessionHistoryElementType"/>
</schema>
