REL_20240116/InboundPartnerEventsV1.module/Schemas/SalesRabbitLeadDeleteRequestPayloadResource.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tns.tibco.com/bw/json/1688378039785" elementFormDefault="qualified" targetNamespace="http://tns.tibco.com/bw/json/1688378039785">
  <complexType name="SalesRabbitLeadDeleteRequestPayloadElementType">
    <sequence>
      <element maxOccurs="1" minOccurs="0" name="body">
        <complexType>
          <sequence>
            <element maxOccurs="1" minOccurs="0" name="leadId" type="integer"/>
            <element maxOccurs="1" minOccurs="0" name="type" type="string"/>
          </sequence>
        </complexType>
      </element>
    </sequence>
  </complexType>
  <element name="SalesRabbitLeadDeleteRequestPayloadElement" type="tns:SalesRabbitLeadDeleteRequestPayloadElementType"/>
</schema>
